name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  ORG_GRADLE_PROJECT_version: ${{ github.sha }}
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 11, 17, 21, 25 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version-file: .tool-versions
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Prepare
        run: ./gradlew clean dependencies
      - name: Build
        run: ./gradlew assemble testClasses
      - name: Test
        run: ./gradlew test -PtestTargetJavaVersion=${{ matrix.java-version }}
      - name: Publish Test Report
        uses: scacap/action-surefire-report@v1
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          check_name: Test Failures (Java ${{ matrix.java-version }})

  release:
    name: Release Check
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Release Check
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
        run: npx semantic-release

