name: Release

on:
  release:
    types: [ published ]

env:
  ORG_GRADLE_PROJECT_version: ${{ github.event.release.tag_name }}
  ORG_GRADLE_PROJECT_githubRepository: ${{ github.repository }}

jobs:
  release:
    name: Release Artefacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version-file: .tool-versions
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Prepare
        run: ./gradlew clean dependencies
      - name: Assemble Artefacts
        run: ./gradlew assemble
      - name: Release Artefacts
        run: ./gradlew release
        env:
          GRADLE_OPTS: -Dorg.gradle.configuration-cache=false
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PACKAGE_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingKeyPassword: ${{ secrets.PACKAGE_SIGNING_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_githubToken: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

  docs:
    name: Publish Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version-file: .tool-versions
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Prepare
        run: ./gradlew clean dependencies
      - name: Generate Documentation
        run: ./gradlew dokkaGenerate
      - name: Publish Documentation
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          publish_dir: ./build/dokka/html
          deploy_key: ${{ secrets.GH_PAGES_DEPLOY_KEY }}
