name: Release

on:
  release:
    types: [ published ]

env:
  ORG_GRADLE_PROJECT_version: ${{ github.event.release.tag_name }}
  ORG_GRADLE_PROJECT_githubRepository: ${{ github.repository }}

jobs:
  release:
    name: Release Artefacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version-file: .tool-versions
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - name: Prepare
        run: ./gradlew clean dependencies
      - name: Assemble Artefacts
        run: ./gradlew assemble
      - name: Release Artefacts
        run: ./gradlew release
        env:
          GRADLE_OPTS: -Dorg.gradle.configuration-cache=false
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PACKAGE_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingKeyPassword: ${{ secrets.PACKAGE_SIGNING_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_githubToken: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

  docs:
    name: Publish Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version-file: .tool-versions
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - name: Prepare
        run: ./gradlew clean dependencies
      - name: Generate Documentation
        run: ./gradlew dokkaGenerate
      - name: Publish Documentation
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          publish_dir: ./build/dokka/html
          deploy_key: ${{ secrets.GH_PAGES_DEPLOY_KEY }}
